parameters:
  bootstrapFiles:
    - tests/bootstrap.php
  paths:
    - src
    - tests
  level: 8
  ignoreErrors:
    - message: '#Return type of call to method Cake\\ORM\\Table(<.*>)?::getBehavior\(\) contains unresolvable type#'
      path: src/Event/JsonSchemaEventHandler.php
    - message: '#Return type of call to method Cake\\ORM\\Table(<.*>)?::getBehavior\(\) contains unresolvable type#'
      path: tests/TestCase/Event/BootstrapEventHandlerTest.php
